<div class="row">
  <div class="small-10 small-centered columns">
    <h4>Fill out volunteer details below:</h4>
    <%= form_for [@user, @volunteer] do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name%><br />
      </div>

      <div class="field">
        <%= f.label :mac_address %>
        <%= f.text_field :mac_address %><br />
      </div>

      <div class="field">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %><br />
      </div>

      <div class="field">
        <%= f.label :credentials %>
        <%= f.text_field :credentials %><br />
      </div>

      <div class="actions">
        <%= f.submit class:"button" %>
      </div>
    <% end %>
  </div>
</div>
