<!DOCTYPE html>
<html>
<head>
  <title>Who's on Hand</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><%= link_to "Who's on Hand", root_path %></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="callout <%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div class="row">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
